$box-shadow: -2px 9px 24px -13px rgba(0, 0, 0, 0.75);

$cls: (
  Black: #0c0f0a,
  Pink: #ff206e,
  Yellow: #fbff12,
  Blue: #41ead4,
  White: #ffffff,
);

$fs: (
  XL: 62px,
  L: 32px,
  M: 16px,
  S: 12px,
  XS: 10px,
);

$bp: (
  desktop: 1200px,
  tabletXL: 1000px,
  tablet: 768px,
  phone: 350px,
);
