@import "../../routes/app";

.errorpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  &__title {
    font-size: fs(XL);
    text-align: center;
  }
  &__subtitle {
    font-size: fs(L);
    text-align: center;
    margin-top: 20px;
  }
  &__button {
    margin-top: 30px;
    width: 300px;
    height: 80px;
    font-size: fs(L);
    background-color: transparent;
    border-radius: 20px;
    -webkit-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: cl(Black);
      color: cl(White);
      border: 1px solid cl(Pink);
    }
  }
}
